*.ipynb_checkpoints/
*__pycache__/
covid-19_vulnerability_mapping_SA/submissions/
urban_air_pollution/submissions/
.DS_Store
.vscode
env/
submissions/
submission.csv
embeddings/
sub*.csv
*.jpg
*.png
reg_data/
